.container-result-laptop {
  margin: 20px 0;
  display: flex;
  align-items: center;
  height: auto;
  // border: 1px solid black;
  border-radius: 20px;
  border: 1px solid #0002;

  .container-result-image {
    padding: 20px;
    img {
      border-radius: 18px;
      max-width: 250px;
    }

    .price {
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
    }
  }

  .container-result-detail {
    flex: 1;
    padding: 20px;
    .title {
      margin: 10px 0;
      font-size: 24px;
      font-weight: 600;
    }
    .specs {
      max-height: 150px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      p {
        margin: 10px 0;
        font-size: 18px;
      }
    }

    .description {
      width: 500px;
      margin: 20px 0;
      p {
        margin-top: 10px;
        font-size: 18px;
        text-align: justify;
      }
    }

    .button-wrapper {
      background-color: rgba(221, 221, 221, 0.425);
      border-radius: 8px;
      .btn-details {
        cursor: pointer;
        text-align: center;
        outline: none;
        border: none;
        font-size: 18px;
        // position: relative;
        // left: 850px;
        // top: 25px;
        padding: 10px;
      }
    }
  }

  .responsive {
    width: 100%;
    height: auto;
  }
}
